.tip {
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    color:white;
    padding-right: 10px;
    padding-left: 10px;
}

.value {
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    color:rgb(0, 255, 0);
    padding-right: 10px;
    padding-left: 10px;
}

.band{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    color:rgb(146, 255, 132);
    padding-right: 10px;
    padding-left: 10px;
}

.weather {
    padding-right: 20px;
    padding-left: 20px;
}

.megjegyzes {
    background: whitesmoke;
    display: none;
    position: fixed;
    right: 50%;
    top: 50%;
    border: 1px solid #000000;
    z-index: 9;
}

.megjegyzes > * {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
    margin-left: 4px;
}